.tabs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tab {
    border-radius: 19px;
    width: 100px;
    margin-bottom: 10px;
}

.tab-active {
    background: #cab7ef;
    color: black;
}
