.course {
    display: flex;
    justify-content: space-around;
    text-align: left;
    align-items: center;
}

.course-text {
    width: 70%;
}

.main-content {
    display: flex;
    max-width: 750px;
    padding: 20px;
}
